.playground {
  height: 100vh;
  overflow: hidden;
  background: var(--app-bg);
  background-image: 
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-position: -1px -1px;
}

:root[data-theme='dark'] .playground-header {
  background: rgba(45, 45, 45, 0.8);
}

.playground-content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.draggable-wrapper {
  position: absolute;
  user-select: none;
  will-change: transform;
}

.draggable-wrapper::after {
  content: "";
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  position: absolute;
  z-index: -1;
  cursor:grab;
}

.draggable-wrapper.dragging {
  z-index: 100;
}

.draggable-wrapper button,
.draggable-wrapper textarea {
  cursor: pointer;
  user-select: auto;
}

.draggable-wrapper textarea {
  cursor: text;
}
